* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}

.navbar {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 51);
}

.logo img {
  width: 50px;
  height: 50px;
}

.navbar .nav-links {
  color: #FFF;
  text-decoration: none;
  margin: 0 15px;
}

.navbar .nav-links:hover {
  color: #FFD700;
}

.hero {
  background-image: url('https://github.com/Mohak-Trivedi/xcruise-assets/blob/master/hero-cruise.png?raw=true');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #FFF;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.hero-text button {
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #FFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #e6b800;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .navbar .nav-links {
    margin: 10px 0;
  }
  
}
